@font-face {
	font-family: "OneDay";
	src:  url("../assets/ONEDAY.ttf");
}

html, body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	text-align: center;
	font-family: "OneDay";
	color: black;
	
	background-color: #FFFFFF;
	transition: background-color 0.5s, color 0.5s;
}
section {
	margin: 0 10px;
}
hr {
	border: 1px dashed white;
    opacity: 0.1;
}
p {
	font-family: "Open Sans", sans-serif;
	text-align: justify;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}



footer {
	font-size: 0.7em;
	margin: 15px 0;
}
footer p {
	text-align: center;
}
abbr {
	border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

#first-page {
	/*min-height: 100%;*/
	height: 100%;
	position: relative;
	display: inline-block;
}
@keyframes pulse {
    0% { opacity: 0.6; }
    50% { opacity: 1; }
    100% { opacity: 0.6; }
}
#first-page::after {
	content: "\25BC";
	font-size: 1.3em;
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: 7px;
    width: 24px;
    left: calc(50% - 12px);
	animation: font-scale 1.5s ease-in-out;
	animation-iteration-count: infinite;
	/*animation-direction: alternate;*/
    opacity: 0.5;
	transition: opacity 0.5s;
}

@keyframes font-scale {
  0% {
    bottom: 7px;
  }

  20% {
  	bottom: 7px;
  }

  35% {
    bottom: 12px;
  }

  50% {
  	bottom: 2px;
  }

  65% {
    bottom: 12px;
  }

  80% {
  	bottom: 2px;
  }

  95% {
  	bottom: 7px;
  }


}

#first-page.hide-scroll-indicator::after {
	animation: none;
	opacity: 0;
}

section {
	min-height: 20%;/*to try and fit in glyph*/
}

/*info, schedule, faq, sponsors*/

section {
	position: relative;
}




@media screen and (max-height: 360px) {

	#info {
		margin-top: 4em;
	}


}

@media screen and (min-width: 50em) {
/*
	section {
		margin: 0 10vw;
	}*/

	.glyph {
		position: absolute;
		right: 4vw;
		width: 10vw;

	}

	.left {
		left: 4vw;
	}


}

.glyph {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

}

.glyph {
	animation-name: spin;
}

.left {
	animation-duration: .75s;
	animation-name: scale;
}




@keyframes spin {
  0% {
        -ms-transform: rotate(-10deg); /* IE 9 */
	    -webkit-transform: rotate(-10deg); /* Safari */
	    transform: rotate(-10deg);
  }


  100% {
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari */
    transform: rotate(10deg);
  }

}

@keyframes scale {
  0% {
        -ms-transform: scale(1, 1); /* IE 9 */
	    -webkit-transform: scale(1, 1); /* Safari */
	    transform: scale(1, 1);
  }


  100% {
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
  }

}

@media screen and (max-width: 50em) {

	.glyph {
		display: none;
	}


}



#applyPage {
	height: 75%;
}
/*#applyPage > svg {
	height: calc(100% - 50px);
    width: calc(100% - 20px);
    margin: 50px 10px 0 10px;
}
*/
svg {
	height: 100%;
	width: 100vw;
}
#applyGroup {
	cursor: pointer;
}

.bounceGroup { /*remove #applyGroup after merge*/
	cursor: pointer;
}

iframe.map {
	width: 100%;
	max-width: 550px;
	height: 400px;
}

table {
	margin: 0 auto;
	font-size: 1.4em;
	border-collapse: separate;
    border-spacing: 0 5px;
}
thead > tr > td {
	background: white;
    color: #333;
    padding: 4px 10px;
    padding-top: 10px;
}
/* Schedule times */
tbody td:nth-child(1) {
	text-align: right;
	min-width: 100px;
	padding-right: 10px;
	padding-top: 8px;
}
/* Schedule descriptions */
td:nth-child(2) {
	font-family: "Open Sans", sans-serif;
}

section > h1 {
	letter-spacing: 2px;
}
h3.details {
	font-size: 2em;
	letter-spacing: 1px;
	margin-bottom: 0;
	margin-top: 0;
	margin-bottom: 0.5em;
}
#faq li > strong {
	letter-spacing: 1px;
}
#faq > ul {
	list-style-type: none;
	margin: 0 auto;
    padding: 0;
    max-width: 550px;
}

.social > a {
	display: inline-block;
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
    position: relative;
    width: 40px;
    height: 40px;
    color: #fff !important;
    border-radius: 50%;
    transition: all 0.3s;
	text-decoration: none;
}
.social > a > i {
	font-size: 16px;
    width: 22px;
    line-height: 40px;
}
.social > a.twitter {
	background: #55acee;
}
.social > a.facebook {
	background: #3b5998;
}
.social > a.email {
	background: #ed77d8;
}
.social > a.github {
	background: #333;
	border: 1px solid #999;
}

#sponsors {
	margin: 0;
}
.sponsor-group {
	display: flex;
	flex-flow: row nowrap;
	max-width: 100%;
	overflow: auto;
	padding: 10px 0;
}
.sponsor-group::before, .sponsor-group::after {
	content: "";
	margin: auto;
}
.sponsor {
	display: inline-block;
	/*max-width: 128px;
    max-height: 180px;*/
    /*width: auto;
    height: auto;*/
    width: 128px;
    height: 180px;
	padding: 0 20px;
	transform: scale(1);
    transition: .3s;
}
.wide-sponsor {
    width: 480px;
}
.medium-sponsor {
    width: 360px;
}

.sponsor:hover {
	transform: scale(1.05);
}
.sponsor img {
	/*width: 128px;*/
	width: 100%;
    height: 128px;
    /*background-color: white;*/
    padding: 2px;
}
.wide-sponsor img/* {
	width: 320px;
}*/

a:link {
    color: #6B6B6B;
}

a:visited {
    color: #bdc3c7;
}

/*a:hover {
    color: red;
}

a:active {
    color: yellow;
}*/

.button {
	display: inline-block;
	padding: .5em;
	border: 1px outset black;
	background-color: rgba(255, 255, 255,0);

	/*height:10px;*/
	/*width:50px;*/
	cursor:pointer;
	color: white;
	font-weight: bold;
	font-family: "OneDay";
	/*padding: 0;*/
	/*margin: 0;*/
	overflow: hidden;
	position: relative;


}

.button::after {
	content: "";
	/*height: 100%;*/
	/*width: 100%;*/
	width: 100%;
	height: 100%;
	background-color: #D1B6E1;
	position: absolute;
	left: -100%;
	top: 0;
	transition: 0.5s all;
	z-index: 0;
}

.button:hover::after {
	left: 0;
}

.button:hover > h3 > a:link {
	color: white;
}

.button:hover > h3 > a:visited {
	color: white;
}

.button > h3 {
	font-size: 2em;
	padding: 0;
	margin: 0;
}

.button > h3 > a {
	position: relative;
	color: black;
	z-index: 1;
	transition: 0.5s all;
}

.button > h3 > a:link {
	color: black;
	z-index: 1;
}

.button > h3 > a:visited {
	color: black;
	z-index: 1;
}
