@font-face {
  font-family: "Bebas";
  src: url(/assets/fonts/bebas.ttf) format("truetype");
}

@font-face {
  font-family: "OneDay";
  src: url(/assets/fonts/oneday.ttf) format("truetype");
}

body {
  background: url(/assets/svg/background.svg);
  background-size: 100vw 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  max-width: 900px;
  align-self: center;
  padding: 2rem 1rem 0px 1rem;
}

.logo {
  float: right;
  width: 30%;
  height: auto;
}

p, a.btn {
  font-family: 'Open Sans';
  font-weight: bold;
}

p {
  line-height: 2;
}

h1 {
  font-family: 'Bebas';
}

.header {
  position: fixed;
  z-index: 5;
}
